body {
  color: blueviolet;
  background-color: blueviolet;
}

h1 {
  color: white;
}

div {
  border: 3px;
  border-style: solid;
  margin: 3px;
  background-color: white;
}

.column {
  width: 300px;
  float: left;
  padding: 10px;
}

img {
  width: 300px;
}